<% layout('/layouts/boilerplate') %>

<link rel="stylesheet" href="../stylesheets/show.css">
<div class="container">
  <div class="row">
    <!-- Left side: Student and Appointment Form -->
    <div class="col-md-6">
      <h3 class="card-title mb-2 fs-4">Personal data</h3>
      <div id="card_student" class="card text-center mb-3">
          <div class="card-body">
          <h5 class="card-subtitle mb-2">First name: <span style="font-weight: 400;"><%= student.name.first %></span></h5>
          <h5 class="card-subtitle mb-2">Last name: <span style="font-weight: 400;"><%= student.name.last %></span></h5>
          <h5 class="card-subtitle mb-2">E-mail: <span style="font-weight: 400;"><%= student.email %></span></h5>
          <% if (student.description) { %>
            <p class="card-text">Description: <%= student.description %></p>
          <% } %>
          
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/students/<%= student._id %>/edit" class="btn btn-success">Edit</a>
          <form action="/students/<%= student._id %>?_method=DELETE" method="post" novalidate class="mb-3 validated-form">
            <button class="btn btn-danger col-12 mx-auto" type="submit">Delete</button>
          </form>
        </div>
      </div>

      <h3 class="card-title mb-2 fs-4">Make an appointment</h3>
      <div id="card_appointment" class="card text-center mb-3">
        
        <div class="card-body">
          
          <form action="/students/<%= student._id %>/appointment" method="POST" novalidate class="mb-3 validated-form">
            <div class="mb-3">
              <label class="form-label" for="date">Date:</label>
              <input class="form-control" type="date" id="date" name="appointment[date]" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="startTime">Start Time:</label>
              <input class="form-control" type="time" id="startTime" name="appointment[startTime]" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="endTime">End Time:</label>
              <input class="form-control" type="time" id="endTime" name="appointment[endTime]" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="note">Note:</label>
              <textarea class="form-control" id="note" name="appointment[note]" required></textarea>
            </div>
            <div class="mb-3 mt-3">
                <select name="appointment[status]" class="col-12 mx-auto" style="border-radius: 5px; padding: 4px; text-align: center;">
                    <option value="booked">booked</option>
                    <option value="held">done</option>
                    <option value="cancelled">cancelled</option>
                </select>
            </div>
            <button class="btn btn-success col-12 mx-auto" type="submit">save</button>
          </form>
        </div>
      </div>
    </div>
    
    <!-- Right side: Appointment List -->
    <div class="col-md-6">
      <h3 class="card-title mb-2 fs-4">Appointments</h3>
      <% for (let appointment of appointments) { %>
        <form action="/students/<%= student._id %>/appointment/<%= appointment._id %>?_method=PUT" method="POST" novalidate class="mb-3 validated-form">
        <div id="appointment_list" class="card mb-3">
          <div class="card-body">
                <input class="form-control" type="date" id="date" name="appointment[date]" value="<%= appointment.date ? new Date(appointment.date).toISOString().slice(0,10) : '' %>" required>
                <input class="form-control" type="time" id="startTime" name="appointment[startTime]"  value="<%= appointment.startTime %>" required>
                <input class="form-control" type="time" id="endTime" name="appointment[endTime]" value="<%= appointment.endTime %>" required>
                <label class="form-label" for="note">Note:</label>
                <textarea class="form-control" type="text" id="note" name="appointment[note]" required><%= appointment.note %></textarea>
                <div class="mb-3 mt-3">
                    <select name="appointment[status]" class="col-12 mx-auto" style="border-radius: 5px; padding: 4px; text-align: center;">
                        <option value="booked">booked</option>
                        <option value="held">done</option>
                        <option value="cancelled">cancelled</option>
                    </select>
                </div>
                <button class="btn btn-success col-12 mx-auto" type="submit">save</button>
          </div>

        </div>
        </form>
      <% } %>
        
      <a href="/students" class="btn btn-outline-secondary" style="font-weight: 500;">back to students</a>
    </div>
  </div>
</div>


