<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h2>First name: <%= student.name.first %></h2>
    <h2>Last name: <%= student.name.last %></h2>
    <h2>Email: <%= student.email %></h2>
    <footer>
        <a href="/students/<%= student._id %>/edit">Edit</a>
        <a href="/students">All students</a>
        <form action="/students/<%= student._id %>?_method=DELETE" method="post">
            <button>Delete</button>
    </footer>
</body>
</html>