    <% layout('/layouts/boilerplate') %>

<div class="card text-center mb-3" style="width: 50%;">
  <div class="card-body">
    <h5 class="card-title mb-2 fs-4">First name: <%= student.name.first %></h5>
    <h5 class="card-title mb-2 fs-4">Last name: <%= student.name.last %></h5>
    <h5 class="card-title mb-3 fs-4">Email: <%= student.email %></h5>
    <p class="card-text">Description: <%= student.description %></p>
    <a href="/students/<%= student._id %>/edit" class="btn btn-primary">edit</a>
    <a href="#" class="btn btn-primary">make a bill</a>
    <a href="#" class="btn btn-primary">list all bills</a>
    </div>
    <div class="mb-3">
    <form action="/students/<%= student._id %>?_method=DELETE" method="post">
        <button class="btn btn-primary" type="button">delete</button>
    </form>
    </div>
  </div>
</div>
<footer>
    <a href="/students" class="btn btn-primary">back to students</a>
</footer>


